* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Butun ekran bo'yicha Flexbox tuzilishi */
.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
}

/* O'ng tarafdagi vertikal ustun */
.main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/* Navbar ostidagi kontent joyi */
.content-area {
  flex: 1;
  display: flex;
  overflow: hidden;
  background-color: #ffffff;
}